@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        font-family: "IBM Plex Sans", sans-serif;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: #92f17f;
        transition: backgroud-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px transparent;
    }

    /* ui.shadcn.com */
    :root {
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;
        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 109 53% 59%;
        --primary-foreground: 144.9 80.4% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 142.4 71.8% 29.2%;
        --radius: 0.5rem;
    }

    /* ui.shadcn.com -ends */

    [disabled] {
        @apply opacity-50 cursor-not-allowed;
    }
    .max-content-width {
        @apply max-w-[1440px] mx-auto;
    }
    :root {
        --input-box-shadow: 1px 1px 0px 1px rgba(15, 15, 15, 0.5) inset,
            -3px -3px 8px 0px rgba(15, 15, 15, 0.3) inset;
        --primary-btn-box-shadow: 0px 0px 22px 0px rgba(66, 141, 63, 0.4),
            0px 5px 0px 0px rgba(0, 0, 0, 0.4);
        --primary-btn-bg: linear-gradient(0deg, #75ce61 8.57%, #92f17f 98.57%),
            #fff;
    }
    .bg {
        @apply bg-[#111] text-white;
    }

    .primary-btn {
        border-radius: 8px;
        background: linear-gradient(0deg, #75ce61 8.57%, #92f17f 98.57%), #fff;
        box-shadow: 0px 0px 22px 0px rgba(66, 141, 63, 0.4),
            0px 5px 0px 0px rgba(0, 0, 0, 0.4);
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
    }

    .hover-underline-animation::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    .slide-up {
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        bottom: 10px;
    }

    .slide-down {
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
        bottom: -40px;
    }
    .admin-nav-link {
        @apply capitalize w-full p-3 rounded hover:bg-slate-100 flex gap-2 items-center;
    }
    .admin-nav-link.active {
        @apply bg-slate-100;
    }
    .hide_scroll_bar::-webkit-scrollbar {
        opacity: 0;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .item-bg-gradiant {
        background: rgb(12, 25, 42);
        background: linear-gradient(
            4deg,
            rgba(12, 25, 42, 1) 0%,
            rgba(20, 23, 37, 1) 0%,
            rgba(0, 0, 0, 1) 100%
        );
    }

    .animate-scroll-left {
        animation: scrollLeft 100ms linear infinite;
    }
    .absolute-center {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }

    /* Chrome, Safari, Edge, Opera */
    .hide-input-increment::-webkit-outer-spin-button,
    .hide-input-increment::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .hide-input-increment[type="number"] {
        -moz-appearance: textfield;
    }

    @keyframes scrollLeft {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(
                -100%
            ); /* Translate the content infinitely to the left */
        }
    }
    @keyframes slideFromLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    /* Crash.css */
    .w-\[100px\] {
        width: 100px;
    }
    .crash-container {
        width: 5px;
        height: 50px;
        background-color: blue;
        position: absolute;
        bottom: 0;
    }

    @keyframes moveDiagonal {
        from {
            transform: translate(0, 100%);
        }
        to {
            transform: translate(100%, 0);
        }
    }
    .keno-bg {
        background: rgb(143, 147, 152);
        background: linear-gradient(
            97deg,
            rgba(143, 147, 152, 1) 0%,
            rgba(22, 38, 30, 1) 0%,
            rgba(0, 0, 0, 1) 39%
        );
    }
    .change-btn {
        background: linear-gradient(0deg, #484848 8.57%, #676767 98.57%),
            #3d3d3d;
        border-radius: 8px;
        display: inline-flex;
        color: #898989;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .plane {
        margin: 20px;
        animation: move 5000ms infinite ease-in-out;
        offset-path: path("M20,20 C20,50 180,-10 180,20");
        offset-rotate: auto;
        animation-iteration-count: infinite;
    }
    @keyframes move {
        100% {
            offset-distance: 100%;
        }
    }

    .custom-scrollbar::-webkit-scrollbar {
        @apply w-1;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-slate-900;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #d9d9d9;
    }

    .custom-scrollbar ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
