@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        font-family: "IBM Plex Sans", sans-serif;
    }
    :root {
        --input-box-shadow: 1px 1px 0px 1px rgba(15, 15, 15, 0.5) inset,
            -3px -3px 8px 0px rgba(15, 15, 15, 0.3) inset;
        --primary-btn-box-shadow: 0px 0px 22px 0px rgba(66, 141, 63, 0.4),
            0px 5px 0px 0px rgba(0, 0, 0, 0.4);
        --primary-btn-bg: linear-gradient(0deg, #75ce61 8.57%, #92f17f 98.57%),
            #fff;
    }
    .bg {
        @apply bg-[#111] text-white;
    }

    .primary-btn {
        border-radius: 8px;
        background: linear-gradient(0deg, #75ce61 8.57%, #92f17f 98.57%), #fff;
        box-shadow: 0px 0px 22px 0px rgba(66, 141, 63, 0.4),
            0px 5px 0px 0px rgba(0, 0, 0, 0.4);
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
    }

    .hover-underline-animation::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    .slide-up {
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        bottom: 10px;
    }

    .slide-down {
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
        bottom: -40px;
    }
    .admin-nav-link {
        @apply capitalize w-full py-2 px-3 rounded hover:bg-slate-100 flex gap-2 items-center;
    }
    .admin-nav-link.active {
        @apply bg-slate-100;
    }
}
