@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        font-family: "IBM Plex Sans", sans-serif;
    }
    :root {
        --input-box-shadow: 1px 1px 0px 1px rgba(15, 15, 15, 0.5) inset,
            -3px -3px 8px 0px rgba(15, 15, 15, 0.3) inset;
        --primary-btn-box-shadow: 0px 0px 22px 0px rgba(66, 141, 63, 0.4),
            0px 5px 0px 0px rgba(0, 0, 0, 0.4);
        --primary-btn-bg: linear-gradient(0deg, #75ce61 8.57%, #92f17f 98.57%),
            #fff;
    }
    .bg {
        @apply bg-[#111] text-white;
    }

    .primary-btn {
        border-radius: 8px;
        background: linear-gradient(0deg, #75ce61 8.57%, #92f17f 98.57%), #fff;
        box-shadow: 0px 0px 22px 0px rgba(66, 141, 63, 0.4),
            0px 5px 0px 0px rgba(0, 0, 0, 0.4);
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
    }

    .hover-underline-animation::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    .slide-up {
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        bottom: 10px;
    }

    .slide-down {
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
        bottom: -40px;
    }
    .admin-nav-link {
        @apply capitalize w-full py-2 px-3 rounded hover:bg-slate-100 flex gap-2 items-center;
    }
    .admin-nav-link.active {
        @apply bg-slate-100;
    }
    .hide_scroll_bar::-webkit-scrollbar {
        opacity: 0;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .item-bg-gradiant {
        background: rgb(12, 25, 42);
        background: linear-gradient(
            4deg,
            rgba(12, 25, 42, 1) 0%,
            rgba(20, 23, 37, 1) 0%,
            rgba(0, 0, 0, 1) 100%
        );
    }

    .animate-scroll-left {
        animation: scrollLeft 100ms linear infinite;
    }
    .absolute-center {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }

    /* Chrome, Safari, Edge, Opera */
    .hide-input-increment::-webkit-outer-spin-button,
    .hide-input-increment::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .hide-input-increment[type="number"] {
        -moz-appearance: textfield;
    }

    @keyframes scrollLeft {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(
                -100%
            ); /* Translate the content infinitely to the left */
        }
    }

    /* Crash.css */

    .crash-container {
        width: 5px;
        height: 50px;
        background-color: blue;
        position: absolute;
        bottom: 0;
    }

    @keyframes moveDiagonal {
        from {
            transform: translate(0, 100%);
        }
        to {
            transform: translate(100%, 0);
        }
    }
    .keno-bg {
        background: rgb(143, 147, 152);
        background: linear-gradient(
            97deg,
            rgba(143, 147, 152, 1) 0%,
            rgba(22, 38, 30, 1) 0%,
            rgba(0, 0, 0, 1) 39%
        );
    }
}
